* {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(110, 97, 97);
    display: grid;
    justify-content: center;
}

.body {
    width: 80vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: max-content;
}

.navbar {
    background-color: rgb(25 146 212);
    color: white;
    display: grid;
    align-content: start;
    grid-auto-flow: column;
    margin-left: 20px;
}

.navbar li {
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    gap: 25px;
    color: white;
}

.navbar li a {
    text-decoration: none;
    color: inherit;
}

.navbar .icon {
    grid-row: 1 / 2;
    align-self: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    gap: 10px;
    margin: 0 40px 0 20px;
}

.dashboard-pages,
.dashboard-config {
    padding: 0;
    margin-left: 20px;
}

.navbar .dashboard-pages {
    grid-row: 2 / 3;
    /* margin-bottom: 25px; */
}

.navbar .dashboard-config {
    grid-row: 3 / 4;
}

.navbar li {
    padding: 5px;
}

.icon {
    margin: 0 0 25px 20px;
}

.icon img {
    height: 3rem;
}

.main {
    display: grid;
    grid-template-rows: 200px auto; 
}

.main .header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 2px 2px 0px rgb(184, 173, 173);
}

.header-top {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.search-bar {
    grid-column: 1 / 2;
    display: flex;
    padding-left: 25px;
    align-items: center;
    gap: 20px;
}

#search {
    width: 80%;
    background-color: rgb(226 232 240);
    border: none;
    height: 1.8rem;
    border-radius: 10px;
}

.user-bar {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px 0 25px;
    gap: 25px;
}

.user-bar p {
    font-size: 1.5rem;
}

.profile-image {
    width: 50px;
}

.profile-image-larger {
    width: 80px;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto auto;
}

.greetings {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 0 0 0 25px;
}

.greetings div {
    display: grid;
    grid-auto-flow: row;
}

.greetings p {
    margin: 5px;
    font-weight: bold;
}

.greetings p + p {
    font-size: 1.7rem;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-buttons button {
    width: 100px;
    height: 40px;
    background-color: rgb(25 146 212);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}